<%- include('partials/header') -%>
<div class="container ctr">
  <div class="mt-5 mainCtr">
      <div class="col-8">
          <div class="cardBody">
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="btn btnS fs-5">Logout</a>
          </div>
          <div class="mt-5 noteAdding">
            <form action="/note/createNote" enctype="multipart/form-data" method="POST" class="signUpForm">
              <h2 class="cardTitle">Add a note</h2>
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control height" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="note" class="form-label">Note</label>
                <textarea class="form-control" id="note" name="note">
                </textarea> 
              </div>
              <div class="text-center">
                <button type="submit" class="btn btnD w-40 fs-4" value="Upload">Submit</button>
              </div>
            </form>
          </div>
      </div>
      <div class="col-10 noteContainer">
        <ul>
          <% for(var i=0; i<notes.length; i++) {%>
            
            <table class="table w-full border">
    <!-- head -->
          <thead>
            <tr>
              <th>Number</th>
              <th class=" text-uppercase text-center">Title</th>
              <th class="tHead text-uppercase text-center">note</th>
              <th class="tHead text-uppercase text-center">date</th>
            </tr>
          </thead>
          <tbody>
          <!-- row 1 -->
          <tr data-id="<%= notes[i]._id%>">
            <th class="tHead border-right"><%= i + 1 %></th>
            <td class="tHead border-right"><%= notes[i].title %></td>
            <td class="tHead border-right"><%= notes[i].note %></td>
            <td class="tHead border-right"><%= notes[i].createdAt %></td>
            <td>
              <a href="/note/<%= notes[i]._id %>" class="edit">
                <span class="btn btn-success  fas fa-edit"></span>
                </a>
            </td>
            <td>
              <form
                    action="/note/deleteNote/<%= notes[i]._id %>?_method=DELETE"
                    method="POST"
                    class="col-3"
              >
              <button class="btn btn-danger fas fa-times" type="submit"></button>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
          <% } %>   
          </ul>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>